.box {
    background-color: red;
    display: inline-block;
    padding: 10px;
}
.span {
    display: inline-block;
    background-color: green;
    padding: 10px;
    height: 75px;
    width: 35px;
}